/* tags */

body {
  font-family: 'Press Start 2P', cursive;
  background-image: url("img/waves.gif");
}

hr {
  width: "100%";
}


/* nav */

a {
  margin-bottom: 180px;
  margin-left: 10px;
  margin-right: 10px;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: white;
}

a:active {
  color: blue;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* classes */

.section-main {
  text-align: center;
  font-size: 3.5vw;
}

/* IDs */

#header {
  text-align: center;
}

#header-title {
  font-size: 5vw;
}

#main-background {
  background-color: #0058F8;
  margin-right: 0px;
  margin-left: 0px;
  height: 150vw;
  width: 100%;
}
