/* tags */

body {
  font-family: 'Press Start 2P', cursive;
  background-image: url("img/waves.gif");
}

/* nav */

a {
  margin-bottom: 180px;
  margin-left: 10px;
  margin-right: 10px;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: white;
}

a:active {
  color: blue;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* button */
button {
  font-family: 'Press Start 2P', cursive;
  color: #000000;
  font-size: 1.5em;
  padding: 20px 20px 20px 20px;
  border: solid #000000 3px;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.45);
  margin-right: auto;
  margin-left: auto;
  margin-top: 2vw;
  width: 100%;
  border: 3px solid black;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

/* classes */

.section-header {
  text-align: left;
  font-size: 1.7em;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 5px;
  margin-left: 5px;
}

.section-p {
  text-align: left;
  font-size: 1.5em;
  margin-top: 0px;
  margin-right: 5px;
  margin-left: 5px;
}

/* IDs */

#header {
  text-align: center;
}

#header-title {
  font-size: 5vw;
}

#section-body {
  background-color: rgba(255, 255, 255, 0.45);
  margin-right: auto;
  margin-left: auto;
  margin-top: 2vw;
  width: 95%;
  border: 3px solid black;
}
